Repository OpenKH/OpenKh, pull requests merged in 2021-01, with the labels that each got.

#399 Bug Report Template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Enhancement

#398 Fixed form and exclamation icons
  docs/kh2/images/icons/exclamation-mark.png
  docs/kh2/images/icons/form.png
Labels: Bugfix, Documentation

#400 Clean-up of some dead code
  OpenKh.Game/Debugging/DebugOverlay.cs
  OpenKh.Game/Debugging/IDebug.cs
  OpenKh.Game/Debugging/IDebugConsumer.cs
  OpenKh.Game/Debugging/Log.cs
  OpenKh.Game/Infrastructure/Input/GamepadInput.cs
  OpenKh.Game/OpenKhGame.cs
  OpenKh.Game/States/IState.cs
  OpenKh.Game/States/MapState.cs
  OpenKh.Game/States/MenuState.cs
  OpenKh.Game/States/Title/TitleState.cs
Labels: Game Engine

#406 Birth by Sleep Map Documentation
  docs/bbs/worlds.md
Labels: BBS, Documentation

#408 Remove monogame dependency and slightly improve performance
  OpenKh.Engine.MonoGame/Camera.cs
  OpenKh.Engine.MonoGame/Extensions.cs
  OpenKh.Engine.MonoGame/KingdomShader.cs
  OpenKh.Engine.MonoGame/KingdomTexture.cs
  OpenKh.Engine.MonoGame/MonoSpriteDrawing.cs
  OpenKh.Engine.MonoGame/OpenKh.Engine.MonoGame.csproj
  OpenKh.Engine/Parsers/MdlxParser.cs
  OpenKh.Game/Infrastructure/Kh2Field.cs
  OpenKh.Game/States/MapState.cs
  OpenKh.Tools.Common.CustomImGui/ImGuiEx.cs
  OpenKh.Tools.Kh2MapStudio/App.cs
  OpenKh.Tools.Kh2MapStudio/MapRenderer.cs
  OpenKh.Tools.Kh2MapStudio/Windows/CameraWindow.cs
Labels: Enhancement, Game Engine

#409 Vertices uses float colors to simulate bloom effect
  OpenKh.Command.PmoConverter/Program.cs
  OpenKh.Command.PmpConverter/Program.cs
  OpenKh.Engine.MonoGame/MeshLoader.cs
  OpenKh.Engine/Parsers/Kkdf2MdlxParser.cs
  OpenKh.Engine/Parsers/MdlxParser.cs
  OpenKh.Engine/Parsers/PmoParser.cs
  OpenKh.Game/Entities/ObjectEntity.cs
  OpenKh.Tools.Kh2MapStudio/MapRenderer.cs
Labels: Bugfix, Game Engine

#401 Standardise OpenKH Log across the entire codebase
  OpenKh.Common/Log.cs
  OpenKh.Game/Config.cs
  OpenKh.Game/DataContent/IdxDataContent.cs
  OpenKh.Game/DataContent/ModDataContent.cs
  OpenKh.Game/DataContent/StandardDataContent.cs
  OpenKh.Game/Debugging/Log.cs
  OpenKh.Game/Entities/ObjectEntity.cs
  OpenKh.Game/Infrastructure/Kernel.cs
  OpenKh.Game/Infrastructure/Kh2Field.cs
  OpenKh.Game/Menu/MenuStatus.cs
  OpenKh.Game/OpenKhGame.cs
  OpenKh.Game/Program.cs
  OpenKh.Game/States/MapState.cs
  OpenKh.Game/States/MenuState.cs
  OpenKh.Game/States/Title/TitleState.cs
Labels: Enhancement, Game Engine
