Repository OpenKH/OpenKh, pull requests merged in 2021-02, with the labels that each got.

#407 Game Engine refactoring
  OpenKh.Engine.MonoGame/GraphicsDeviceExtensions.cs
  OpenKh.Game/Events/EventPlayer.cs
  OpenKh.Game/Field/BbsMap.cs
  OpenKh.Game/Field/IField.cs
  OpenKh.Game/Field/IMap.cs
  OpenKh.Game/Field/Kh2Field.cs
  OpenKh.Game/Field/Kh2Map.cs
  OpenKh.Game/IGameContext.cs
  OpenKh.Game/Infrastructure/Kernel.cs
  OpenKh.Game/States/MapState.cs
  OpenKh.Tests.Engine/Kh2EventTests.cs
Labels: Enhancement, Game Engine

#414 Documentation Guidelines
  CONTRIBUTING.md
  DOCS_GUIDELINE.md
Labels: Documentation

#428 Add "Feature request" template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Enhancement

#434 Fix crash when deleting all layers in the Layout Editor
  OpenKh.Engine/Renders/SequenceRenderer.cs
  OpenKh.Tools.LayoutEditor/Controls/ImSequencer.cs
Labels: 2/FM, Bugfix, GUI Tools

#438 Extract 000xx.idx from the UI + loading screen
  OpenKh.Tools.IdxImg/ExtractProcessor.cs
  OpenKh.Tools.IdxImg/Interfaces/IExtractProgress.cs
  OpenKh.Tools.IdxImg/ViewModels/EntryParserModel.cs
  OpenKh.Tools.IdxImg/ViewModels/EntryViewModel.cs
  OpenKh.Tools.IdxImg/ViewModels/FileViewModel.cs
  OpenKh.Tools.IdxImg/ViewModels/FolderViewModel.cs
  OpenKh.Tools.IdxImg/ViewModels/IdxViewModel.cs
  OpenKh.Tools.IdxImg/ViewModels/RootViewModel.cs
  OpenKh.Tools.IdxImg/Views/ExtractProgressWindow.xaml
  OpenKh.Tools.IdxImg/Views/ExtractProgressWindow.xaml.cs
Labels: 2/FM, Enhancement, GUI Tools

#439 Add Drag n' Drop Support to OpenKh.Tools.ImageViewer
  OpenKh.Tools.ImageViewer/Views/MainWindow.xaml
  OpenKh.Tools.ImageViewer/Views/MainWindow.xaml.cs
Labels: 2/FM, Enhancement, GUI Tools

#437 Fix invalid file usage for WinShell programs.
  OpenKh.WinShell.IMDUtilities/IMDThumbnail.cs
  OpenKh.WinShell.IMDUtilities/OpenKh.WinShell.IMDUtilities.csproj
  OpenKh.WinShell.IMZUtilities/IMZExtract.cs
  OpenKh.WinShell.IMZUtilities/IMZRepack.cs
  OpenKh.WinShell.IMZUtilities/OpenKh.WinShell.IMZUtilities.csproj
Labels: Bugfix, WinShell

#423 New input system
  OpenKh.Engine/Input/IInput.cs
  OpenKh.Engine/Input/IInputButtons.cs
  OpenKh.Engine/Input/IInputDevice.cs
  OpenKh.Engine/Input/InputManager.cs
  OpenKh.Game/Debugging/DebugOverlay.cs
  OpenKh.Game/Entities/PlayerManager.cs
  OpenKh.Game/Field/Kh2Field.cs
  OpenKh.Game/Infrastructure/Input/GamepadInput.cs
  OpenKh.Game/Infrastructure/Input/IInputDevice.cs
  OpenKh.Game/Infrastructure/Input/KeyboardInput.cs
  OpenKh.Game/Infrastructure/Input/RepeatableKeyboard.cs
  OpenKh.Game/Infrastructure/InputGamepad.cs
  OpenKh.Game/Infrastructure/InputKeyboard.cs
  OpenKh.Game/Infrastructure/InputManager.cs
  OpenKh.Game/Infrastructure/StateInitDesc.cs
  OpenKh.Game/Menu/IMenuManager.cs
  OpenKh.Game/Menu/MainMenu.cs
  OpenKh.Game/Menu/MenuBase.cs
  OpenKh.Game/Menu/MenuConfig.cs
  OpenKh.Game/Menu/MenuDebug.cs
  OpenKh.Game/Menu/MenuDebugChangePlace.cs
  OpenKh.Game/Menu/MenuDebugPlayEvent.cs
  OpenKh.Game/Menu/MenuDebugSelectPlace.cs
  OpenKh.Game/Menu/MenuStatus.cs
  OpenKh.Game/Menu/MenuTemplate.cs
  OpenKh.Game/OpenKhGame.cs
  OpenKh.Game/States/MapState.cs
  OpenKh.Game/States/MenuState.cs
  OpenKh.Game/States/Title/ITitleMainMenu.cs
  OpenKh.Game/States/Title/NewGameMenu.cs
  OpenKh.Game/States/Title/TitleState.cs
Labels: 2/FM, Enhancement, Game Engine, Help Wanted

#446 Optimize I/O performance
  OpenKh.Common/BinaryReaderExtensions.cs
  OpenKh.Common/BytesExtensions.cs
  OpenKh.Common/OpenKh.Common.csproj
  OpenKh.Common/StreamExtensions.cs
  OpenKh.Kh2/Bar.cs
  OpenKh.Kh2/Layout.cs
  OpenKh.Kh2/Motion.cs
  OpenKh.Kh2/Msg.cs
  OpenKh.Kh2/Sequence.cs
  OpenKh.Kh2AnimEmu/Mset/EmuBasedAnimMatricesProvider.cs
  OpenKh.Kh2AnimEmu/OpenKh.Kh2AnimEmu.csproj
Labels: Enhancement

#443 PMO list and KH2 enemy list update
  OpenKh.Tools.Kh2BattleEditor/Services/EnemyNameProvider.cs
  docs/bbs/dictionary/pmoFiles.md
  docs/bbs/dictionary/worlds.md
  docs/bbs/index.md
Labels: Documentation
